


/*mv-category*/
.mv-category {
  width: 100%;
  margin: 3px 0px 0px;
}

.mv-category .category-sliders {
  position: relative;
}

.mv-category .category-sliders .slick-list {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-slide {
  display: block;
  float: left;
  min-height: 1px;
}

.category-sliders .cs-list img {
  width: 100%;
}

.mv-category .slick-dots {
  display: block;
  position: absolute;
  bottom: 29px;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}


.mv-category .slick-dots li {
  display: inline-block;
  margin-right: 6px;
  margin-left: 4px;
  cursor: pointer;
}

.mv-category .slick-dots li button {
  width: 15px;
  height: 15px;
  padding: 0;
  border: 1px solid #E9A908;
  font-size: 0;
  cursor: pointer;
  border-radius: 50%;
}

.mv-category .slick-dots li.slick-active button {
  background-color: #E9A908;
}

.mv-category .slick-prev {
  left: 8%;
  background: url(../img/category/img_larrow_pc.png) no-repeat center/contain;
}

.mv-category .slick-next {
  right: 8%;
  background: url(../img/category/img_rarrow_pc.png) no-repeat center/contain;
}

.mv-category .slick-prev,
.mv-category .slick-next {
  position: absolute;
  top: 50%;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: none;
  font-size: 0;
  cursor: pointer;
  transform: translateY(-50%);
}

.mv-category .category-txt {
  position: absolute;
  top: 48.2%;
  left: 12.2%;
  width: 38%;
}

.category-txt .cmv-ttl {

  line-height: 1.3;

  margin-bottom: 10px;

  font-size: 48px;

  font-weight: 700;
}

.category-txt .cmv-par {

  line-height: 1.5;

  margin-top: 13px;

  font-size: 16px;
}



/*sec-anchor*/
.sec-anchor {
  padding: 48px 0px 49px;
}

.sec-anchor .anchor-links {
  width: 82%;
  padding-left: 284px;
}

.sec-anchor .anchor-links li {
  float: left;
  margin-right: 80px;
}

.sec-anchor .anchor-links li:last-child {
  margin-right: 0px;
}

.sec-anchor .anchor-links li a {
  padding: 17px 50px;
  border: 1px solid #354E57;
  background-color: transparent;
  font-size: 19px;
  border-radius: 29px;
}

.sec-anchor .anchor-links li a.active,
.sec-anchor .anchor-links li a:hover {

  border: 1px solid transparent;
  background-color: #D1B0A8;
  color: #FFFFFF;
}

.sec-anchor .anchor-links li .l2 {

  padding: 17px 38px;

 
}




.sec-anchor .anchor-category {
  margin-top: 39px;
}

.anchor-category .anchor-col1 {
  float: left;
  width: 18%;
  margin-top: 24px;
}

.anchor-category .anchor-col2 {
  float: right;
  width: 80%;
}

.anchor-category .anchor-col1 .anchor-row {
  margin-bottom: 93px;
}



.anchor-row .col-list {
  list-style: none;
  margin-top: 33px;
  margin-left: 11px;
}

.anchor-row .col-list li {
  position: relative;
  margin-bottom: 33px;
  padding-left: 15px;
  font-size: 14px;
}

.anchor-row .col-list li::before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #0A0A0A;
  content: "";
  transform: translateY(-50%);
  border-radius: 50%;
}

/*anchor-col2*/

.anchor-category .anchor-col2 .acne-row {
  margin-bottom: 50px;
  padding-bottom: 7px;
  border-bottom: 2px solid #EEEDED;
}

.anchor-col2 .acne-row .acne-col1 {
  float: left;
  width: 66%;
  margin-left: 14px;
}

.anchor-col2 .acne-row .acne-col2 {
  float: right;
  width: 31.5%;
}




.acne-col2 .acne {
  width: 100%;
  margin-bottom: 38px;
}

.acne-row .acne-col1 .acne-col1-row1 {
  position: relative;
  float: left;
  width: 98%;
  margin-bottom: 51px;
}

.acne-row .acne-col1 .acne-col1-row1 .anchor-image-list img {
  border: 1px solid transparent;
}

.acne-col1-row1 .new {
  position: absolute;
  top: 22px;
  left: 20px;
  padding: 6px 11px;
  background-color: #FFFFFF;
  font-size: 13px;

}

.acne-col1 .acne-col1-row2 {

  width: 100%;
}

.acne-col1 .acne-col1-row2 .al {
  float: left;
  width: 48%;
  margin: 0px 19px 0px 0px;
}

.acne-col1-row2 .alast {

  float: left;
  width: 47.9%;
  margin: 0px 0px 0px 0px;
}

.acne-col2 .ance-sec {
  margin-bottom: 61px;
}

.anchor-image-list img {
  width: 100%;
  border: 1px solid #354E57;
}

.anchor-image-list .anchor-text {
  margin: 13px 2px 10px;
}

.big .anchor-text {
  margin: 9px 0px 3px;
}

.anchor-image-list .anchor-text .anchor-ttl5 {

  font-size: 14px;
}

.anchor-text p {
  margin: 5px 0px 8px;
  font-size: 12px;
}

.anchor-text span {
  font-size: 12px;
}



.anchor-image-list .anchor-text .cmn-add-to-card {
  display: inline-block;
  width: 100%;
  margin-top: 13px;
  padding-left: 33px;
}

.anchor-image-list .anchor-text .cmn-add-to-card::before {
  left: 35.6%;
}

.treat-row {
  margin-bottom: 1px;
  margin-left: 14px;
  padding-bottom: 40px;
  border-bottom: 2px solid #EEEDED;
}

.treat-row .tl {
  float: left;
  width: 32%;
  margin-right: 18px;
  margin-bottom: 53px;
}

.treat-row .tl .anchor-text {
  margin-top: 10px;
}

.treat-row .tm {
  margin-bottom: 0px;
}

.tl:nth-child(3n) {
  margin-right: 0px;
}



/*sec-flower*/
.sec-flower .category-sec {
  background: url(../img/category/img_img1.png) no-repeat center/cover;
}


/*#suncream*/
#suncream {
  margin: 49px auto 0px;
  padding-bottom: 59px;
}

#suncream .anchor-ttl,
#suncream .sum-par {
  color: #008080;
  text-align: center;
}

#suncream .anchor-ttl {
  font-size: 49px;
  /* text-transform: none; */
}

#suncream .sum-par {

  margin: 25px 0px 32px 4px;

  font-size: 14px;
}

#suncream .anchor-sun {
  width: 100%;
  margin-top: 20px;
}

.anchor-sun .sun-list {
  float: left;
  width: 21%;
  margin: 16px 7px 41px 34px;
 
}

.anchor-sun .sun-list:nth-child(4n) {
  margin-right: 0px;
}

.anchor-sun .sun-list a {
  transition: 1s ease-in-out;

}

.anchor-sun .sun-list a:hover img {
  border: 1px solid #354E57;

}

.anchor-sun .sun-list img {
  width: 100%;
  border: 1px solid transparent;
}

.anchor-sun .sun-list .sun-ttl6 {

  margin: 26px 0px 0px;

  font-size: 14px;

  text-transform: none;
}

.anchor-sun .sun-list p {
  line-height: 1.4;
  margin: 12px 0px 11px;
  font-size: 12px;
  text-transform: none;
  opacity: 1.5;
}

.anchor-sun .sun-list span {
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
}

/*Ipad*/
@media screen and (min-width: 768px) and (max-width: 1180px) {
  .mv-category {
    margin: 0.391vw 0vw 0vw;
  }

  .slick-slide {
    min-height: 0.13vw;
  }

  .mv-category .slick-dots {
    bottom: 9%;
  }


  .mv-category .slick-dots li {

    margin-right: 0.781vw;
    margin-left: 0.521vw;
  }

  .mv-category .slick-dots li button {
    width: 1.953vw;
    height: 1.953vw;
    border: 0.13vw solid #E9A908;
  }


  .mv-category .slick-prev {
    left: 5%;

  }

  .mv-category .slick-next {
    right: 5%;

  }

  .mv-category .slick-prev,
  .mv-category .slick-next {
    top: 50%;
    width: 8.333vw;
    height: 8.333vw;
  }

  .mv-category .category-txt {
    top: 35.5%;
    left: 9.2%;
    width: 61%;
  }

  .category-txt .cmv-ttl {
    margin-bottom: 1.302vw;
    font-size: 6.25vw;

  }

  .category-txt .cmv-par {
    margin-top: 1.693vw;

    font-size: 2.083vw;
  }

  /*sec-anchor*/
  .sec-anchor {
    padding: 6.25vw 0vw 6.38vw;
  }

  .sec-anchor .anchor-links {
    width: 100%;
    margin: 0.391vw 2.083vw 1.302vw;
    padding-left: 0vw;
  }

  .sec-anchor .anchor-links li {
    margin-right: 10.547vw;
  }

  .sec-anchor .anchor-links li:last-child {
    margin-right: 0vw;
  }

  .sec-anchor .anchor-links li a {
    padding: 2.083vw 6.25vw;
    border: 0.13vw solid #354e57;

    font-size: 2.474vw;
    border-radius: 3.776vw;
  }

  .sec-anchor .anchor-links li a.active,
  .sec-anchor .anchor-links li a:hover {

    border: 0.13vw solid transparent;
  }

  .sec-anchor .anchor-links li .l2 {

    padding: 2.214vw 4.948vw;


  }




  .sec-anchor .anchor-category {
    margin-top: 2.344vw;
  }

  .anchor-category .anchor-col1 {
    float: none;
    width: 100%;
  }

  .anchor-category .anchor-col2 {
    float: none;
    width: 100%;
    margin: 0vw 1.823vw 0vw 2.083vw;

  }

  .anchor-category .anchor-col1 .anchor-row {
    float: left;

    margin: 0vw 11.849vw 2.344vw 13.021vw;
  }

  .anchor-category .anchor-col1 .anchor-row:last-child {
    margin-right: 0px;
    margin-left: 0px;
  }


  .anchor-row .col-list {
    margin-top: 4.297vw;
    margin-left: 1.432vw;
  }

  .anchor-row .col-list li {

    margin-bottom: 4.297vw;
    padding-left: 1.953vw;
    font-size: 1.823vw;
  }

  .anchor-row .col-list li::before {
    width: 0.781vw;
    height: 0.781vw;
  }

  /*anchor-col2*/

  .anchor-category .anchor-col2 .acne-row {
    width: 93.5%;
    margin-bottom: 6.51vw;
    padding-bottom: 4.818vw;
    border-bottom: 0.13vw solid #354e57;
  }

  .anchor-col2 .acne-row .acne-col1 {
    float: none;
    width: 100%;
    margin-left: 1.823vw;
  }

  .anchor-col2 .acne-row .acne-col2 {
    float: none;
    width: 100%;
    margin-left: 1.823vw;
  }

  .anchor-col2 .acne-ipad {
    float: left;
    width: 46%;
    margin-right: 4.818vw;
    margin-bottom: 4.036vw;
  }

  .acne-col2 .acne:nth-child(2n) {
    margin-right: 0;
  }

  .acne-row .acne-col1 .acne-col1-row1 {
    margin-bottom: 3.906vw;
  }

  .acne-row .acne-col1 .acne-col1-row1 .anchor-image-list img {
    height: 75.911vw;
    border: 0.13vw solid transparent;
  }

  .acne-col1-row1 .new {

    top: 2.865vw;
    left: 2.604vw;
    padding: 0.781vw 1.432vw;

    font-size: 1.693vw;

  }

  .acne-col1 .acne-col1-row2 .al {

    width: 46%;
    margin: 0vw 4.818vw 3.646vw 0vw;
  }

  .acne-col1-row2 .alast {

    float: left;

    width: 46%;

    margin: 0px 0px 0px 0px;
  }

  .acne-col2 .ance-sec {
    margin-right: 0px;
  }

  .anchor-image-list img {
    border: 0.13vw solid #354e57;
  }

  .anchor-image-list .anchor-text {
    margin: 1.563vw 0.26vw 1.302vw;
  }

  .big .anchor-text {
    margin: 1.172vw 0vw 0.391vw;
  }

  .anchor-image-list .anchor-text .anchor-ttl5 {

    font-size: 1.823vw;
  }

  .anchor-text p {
    margin: 0.651vw 0vw 1.042vw;
    font-size: 1.563vw;
  }

  .anchor-text span {
    font-size: 1.563vw;
  }



  .anchor-image-list .anchor-text .cmn-add-to-card {

    margin-top: 1.693vw;

    padding-left: 4.297vw;
  }

  .anchor-image-list .anchor-text .cmn-add-to-card::before {
    left: 35.6%;
  }

  .treat-row {
    width: 93.5%;
    margin-bottom: 6.51vw;
    margin-left: 1.823vw;
    padding-bottom: 4.818vw;
    border-bottom: 0.13vw solid #345E47;
  }

  .treat-row .tl .anchor-text {
    margin-top: 1.302vw;
  }

  .tl:nth-child(2n) {
    margin-right: 0px;
  }

  /*sec-flower*/
  .sec-flower .category-sec {
    background: url(../img/category/img_blk_ipad.png) no-repeat center/cover;
  }

  /*#suncream*/
  #suncream {
    margin: 7.901vw auto -4.57vw;

  }

  #suncream .anchor-ttl {
    font-size: 6.38vw;

  }

  #suncream .sum-par {

    margin: 2.865vw 0vw 4.167vw 0.13vw;

  }

  #suncream .anchor-sun {

    width: 90%;

    margin: 2.604vw auto 0vw;
  }

  .anchor-sun .sun-list {

    width: 41%;

    margin: 1.214vw 3.776vw 4.139vw 5.339vw;
  }

  .anchor-sun .sun-list:nth-child(2n) {
    margin-right: 0px;
    margin-left: 0px;
  }


  .anchor-sun .sun-list a:hover img {
    border: 0.13vw solid #354E57;

  }

  .anchor-sun .sun-list img {

    border: 0.13vw solid transparent;
  }

  .anchor-sun .sun-list .sun-ttl6 {

    margin: 2.604vw 0vw 0vw 0.391vw;

    font-size: 1.823vw;
  }

  .anchor-sun .sun-list p {
    line-height: 1.3;
    margin: 1.563vw 0.521vw 1.432vw;
    font-size: 1.563vw;
  }

  .anchor-sun .sun-list span {
    margin-left: 0.391vw;
    font-size: 1.823vw;
  }


}









/*SP*/
@media screen and (max-width:767.9px) {

  

  .pc {
    display: none;
  }

  .ipad {
    display: none;
  }

  .sp {
    display: block;
  }

  .sec-header .menu-other {
    top: 4.688vw;
  }

  .mv-category {
    margin: 0px 0px 0px;
  }

  .slick-slide {
    min-height: 0.156vw;
  }

  .mv-category .slick-dots {
  
    bottom: 9%;
    width: 100%;
  }


  .mv-category .slick-dots li {
    
    margin-right: 0.938vw;
    margin-left: 0.625vw;
    
  }

  .mv-category .slick-dots li button {
    width: 2.344vw;
    height: 2.344vw;
    border: 0.156vw solid #e9a908;
    
  
  }


  .mv-category .slick-prev {
    left: 3%;
    background: url(../img/category/img_larrow_sp.png) no-repeat center/contain;
  }

  .mv-category .slick-next {
    right: 3%;
    background: url(../img/category/img_rarrow_sp.png) no-repeat center/contain;
  }

  .mv-category .slick-prev,
  .mv-category .slick-next {
   
    top: 50%;
    z-index: 100;
    width: 10vw;
    height: 10vw;
   
   
  }

  .mv-category .category-txt {
    top: 27.2%;
    left: 6.2%;
    width: 70%;
  }

  .category-txt .cmv-ttl {
    line-height: 1.25;
    margin-bottom: 2.5vw;
    font-size: 7.5vw;
    
  }

  .category-txt .cmv-par {
    margin-top: 2.031vw;

    font-size: 2.5vw;
  }

  /*sec-anchor*/
  .sec-anchor {
    padding: 6.25vw 0vw 9.063vw;
  }

  .sec-anchor .anchor-links {
    width: 100%;
    /* margin: 0px auto; */
    padding-left: 4.844vw;
  }

  .sec-anchor .anchor-links li {
    float: left;
    margin-right: 3.125vw;
  }

  .sec-anchor .anchor-links li:last-child {
    margin-right: 0px;
  }

  .sec-anchor .anchor-links li a {
    padding: 2.656vw 7.513vw;
    border: 0.156vw solid #354E57;
    background-color: transparent;
    font-size: 2.969vw;
    border-radius: 4.531vw;
  }

  .sec-anchor .anchor-links li a.active,
  .sec-anchor .anchor-links li a:hover {

    border: 0.156vw solid transparent;
    
  }

  .sec-anchor .anchor-links li .l2 {

    padding: 2.656vw 5.938vw;

    /* margin-right: 19px; */
  }




  .sec-anchor .anchor-category {
    margin-top: 4.531vw;
  }

  .anchor-category .anchor-col1 {
    float: none;
    width: 100%;
    margin-top: 3.75vw;
  }

  .anchor-category .anchor-col2 {
    float: none;
    width: 100%;
    margin: 0vw 0vw 0vw 0.781vw;
    /* margin-left: 0px; */
  }

  .anchor-category .anchor-col1 .anchor-row {
    float: left;
    width: 36%;
    /* margin-right: 13.375vw; */
    margin-bottom: 1.25vw;
    margin-left: 8.75vw;
  }

  .anchor-category .anchor-col1 .anchor-row:last-child {
    margin-right: 0;
    margin-left: 10.313vw;
  }



  .anchor-row .col-list {
    list-style: none;
    margin-top: 5.156vw;
    margin-left: 1.719vw;
  }

  .anchor-row .col-list li {
    position: relative;
    margin-bottom: 5.156vw;
    padding-left: 2.344vw;
    font-size: 2.188vw;
  }

  .anchor-row .col-list li::before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0.938vw;
    height: 0.938vw;
    
  }

  /*anchor-col2*/

  .anchor-category .anchor-col2 .acne-row {
    width: 96%;
    margin-bottom: 6.563vw;
    padding-bottom: 0vw;
    border-bottom: 0.313vw solid #eeeded;
    /* margin: 20px 14px; */
  }

  .anchor-col2 .acne-row .acne-col1 {
    float: none;
    width: 100%;
    /* margin-left: 16px; */
  }

  .anchor-col2 .acne-row .acne-col2 {
    float: none;
    width: 100%;
    margin-left: 2.656vw;
  }

  .anchor-col2 .acne-ipad {
    float: left;
    width: 46.5%;
    margin-right: 3.281vw;
    margin-bottom: 4.844vw;
  }



  .acne-col2 .acne:nth-child(2n) {
    margin-right: 0;
  }

  .acne-row .acne-col1 .acne-col1-row1 {
    position: relative;
    float: left;
    width: 98%;
    margin-bottom: 6.094vw;
    
  }

  .acne-row .acne-col1 .acne-col1-row1 .anchor-image-list img {
    border: 0.156vw solid transparent;
  }

  .acne-col1-row1 .new {
   
    top: 3.438vw;
    left: 3.125vw;
    padding: 0.938vw 1.719vw;
   
    font-size: 2.031vw;
    /* border-radius: 10px; */
  }

  .acne-col1 .acne-col1-row2 {

    width: 100%;

    margin-bottom: 4.688vw;
  }

  .acne-col1 .acne-col1-row2 .al {
    float: left;
    width: 46.5%;
    margin: 0vw 3.438vw 0vw 0.469vw;
  }

  .acne-col1-row2 .alast {

    margin: 0px 0px 0px 0px;
  }

  .acne-col2 .ance-sec {
    /* margin-bottom: 61px; */
    margin-right: 0px;
  }

  .anchor-image-list img {
    width: 100%;
    border: 0.156vw solid #354e57;
  }

  .anchor-image-list .anchor-text {
    margin: 2.188vw 0vw 1.563vw;
  }

  .acne-col1-row1 .anchor-image-list .big {
    margin: 1.094vw 0vw 0.469vw;
  }



  .acne-col1-row1 .anchor-image-list .anchor-text .cmn-add-to-card::before {
    left: 42%;
  }

  .anchor-image-list .anchor-text .anchor-ttl5 {

    font-size: 2.188vw;
  }

  .anchor-text p {
    margin: 0.781vw 0vw 1.25vw;
    font-size: 1.875vw;
  }

  .anchor-text span {
    font-size: 1.875vw;
  }



  .anchor-image-list .anchor-text .cmn-add-to-card {
    display: inline-block;
    width: 100%;
    margin-top: 2.031vw;
    padding-left: 4.844vw;
  }

  .anchor-image-list .anchor-text .cmn-add-to-card::before {
    left: 32.5%;
  }

  .treat-row {
    /* margin-left: 14px; */
    width: 96%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0.156vw solid #eeeded;
  }

  .treat-row .tl {
    float: left;
    width: 46.5%;
    margin-right: 3.125vw;
    margin-bottom: 5.313vw;
    margin-left: 0.625vw;
  }

  .treat-row .tl .anchor-text {
    margin-top: 1.563vw;
  }

  .tl:nth-child(2n) {
    margin-right: 0vw;
    margin-left: 0vw;
  }

  /*sec-flower*/
  .sec-flower .category-sec {
    background: url(../img/category/img_blk_sp.png) no-repeat center/cover;
  }

  /*#suncream*/
  #suncream {
    margin: 9.375vw auto 0vw;
    padding-bottom: 0.469vw;
  }

 

  #suncream .anchor-ttl {
    font-size: 7.656vw;
    /* text-transform: none; */
  }

  #suncream .sum-par {

    margin: 3.438vw 0.313vw 5vw 0vw;

    font-size: 2.5vw;

    /* padding: 0vw 0.313vw 0vw 0.625vw; */
  }

  #suncream .anchor-sun {
    /* margin-left: 4.063vw; */
    width: 90%;
    margin: 0vw auto 5.313vw;
    margin-top: 3.125vw;
  }

  .anchor-sun .sun-list {
    float: none;
    width: 47%;
    margin: 1.094vw auto 4.531vw;
    /* margin-top: 3.125vw; */
    text-align: center;
  }

  .anchor-sun .sun-list:nth-child(2n) {
    margin: 4.063vw auto;
  }

  .anchor-sun .sun-list a {
    transition: 1s ease-in-out;

  }

  .anchor-sun .sun-list a:hover img {
    border: 0.156vw solid #354e57;

  }

  .anchor-sun .sun-list img {
    width: 100%;
    border: 0.156vw solid transparent;
  }

  .anchor-sun .sun-list .sun-ttl6 {

    margin: 2.969vw 0vw 0vw;

    font-size: 2.188vw;

    text-transform: none;
  }

  .anchor-sun .sun-list p {
    
    margin: 1.719vw 0vw 1.094vw 0vw;
    padding: 0vw 2.188vw 0vw 0.313vw;
    font-size: 1.875vw;
    text-align: center;
  }

  .anchor-sun .sun-list span {
    font-size: 2.188vw;
  
  }


}