
a{
  display: inline-block;
  color: #2E2E22;
}

/* /.sec-product-mv */
.sec-product-mv{
  padding-top: 71px;
  background-color: #EEF3F4;
}

.sec-product-mv .img-blk{
  float: left;
  width: 569px;
}

.sec-product-mv .img-blk .slider{
  position: relative;
}

.sec-product-mv .img-blk .slider li{
  float: left;
}

.sec-product-mv .img-blk .slider li img{
  width: 100%;
}

.sec-product-mv .img-blk .slick-list{
  transform: translate3d(0,0,0);
  overflow: hidden;
}

.sec-product-mv .slider .slick-prev,
.sec-product-mv .slider .slick-next {
  position: absolute;
  top: 196px;
  z-index: 3;
  width: 36px;
  height: 36px;
  border: none;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 0;
  cursor: pointer;
}

.sec-product-mv .slider .slick-prev {
  left: 20px;
  background-image: url('../img/product/img_left_arrow.png');
}

.sec-product-mv .slider .slick-next {
  right: 20px;
  background-image: url('../img/product/img_right_arrow.png');
}

.sec-product-mv .slick-dots{
    width: 65px;
    margin: 35px 264px 0;
    display: block;
    /*bottom: 29px;*/
    /* width: 100%; */
    text-align: center;
}

.sec-product-mv .slick-dots li{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #354E57;
    display: inline-block;
    /*margin-left: 4px;*/
}

.sec-product-mv .slick-dots li:last-child{
    margin-right: 0;
}

.sec-product-mv .slick-dots .slick-active {
    background-color: #354E57;
}

.sec-product-mv .slick-dots button{
    display: none;
}

.sec-product-mv .txt-blk{
  float: right;
  width: 529px;
}

.sec-product-mv .txt-blk .txt-box{
  width: 466px;
}

.sec-product-mv .txt-blk strong{
  background-color: #FFFFFF;
  padding: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #2E2E22;
}

.sec-product-mv .txt-blk .cmn-ttl{
  font-size: 48px;
  color: #2E2E22;
  margin: 15px 0 17px;
  line-height: 1.2;
  text-align: left;
}

.sec-product-mv .txt-blk img{
  margin-right: 8px;
}

.sec-product-mv .txt-blk .review{
  font-size: 10px;
  color: #354E57;
  border-bottom: 1px solid #354E57;
}

.sec-product-mv .txt-blk .price{
  font-size: 16px;
  color: #DE3B35;
  margin: 23px 0;
}

.sec-product-mv .txt-blk .price span{
  font-weight: 500;
  color: #2E2E22;
  text-decoration: line-through;
  margin-left: 11px;
}

.sec-product-mv .txt-blk h3{
  font-size: 14px;
  font-weight: 700;
  color: #2E2E22;
}

.sec-product-mv .txt-blk .para{
  font-size: 12px;
  margin-top: 10px;
  line-height: 1.4;
}

.sec-product-mv .txt-blk .quantity-blk{
  margin: 28px 0;
  position: relative;
}

.sec-product-mv .txt-blk .quantity-blk .qty{
  float: left;
}

.sec-product-mv .txt-blk .quantity-blk .qty p{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  color: #2E2E22;
}

.sec-product-mv .txt-blk .quantity-blk .qty span{
  border: 1px solid #2E2E22;
  padding: 7px 14px;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  margin-right: -5px;
}

.sec-product-mv .txt-blk .quantity-blk .cmn-add-to-card{
  float: right;
  width: 174px;
  position: absolute;
  padding-left: 31px;
  bottom: 0;
  right: 0;
}

.sec-product-mv .txt-blk .quantity-blk .cmn-add-to-card::before {
  position: absolute;
  top: 10px;
  left: 40px;
  width: 13px;
  height: 13px;
}

.sec-product-mv .txt-blk .accordion li{
  margin-bottom: 8px;
  font-size: 12px;
  color: #2E2E22;
}

.sec-product-mv .txt-blk .accordion li .accordion-title{
  background-color: #FFFFFF;
  width: 100%;
  text-transform: uppercase;
  padding: 14px 15px 12px 20px;
  position: relative;
  cursor: pointer;
}

/*.sec-product-mv .txt-blk .accordion li .accordion-title::after{
  position: absolute;
  content: '\002B';
  color: #FF8800;
  font-weight: 700;
  right: 15px;
  font-size: 18px;
  top: 11px;
}*/

.sec-product-mv .txt-blk .accordion li .accordion-title span{
  position: absolute;
  color: #FF8800;
  font-weight: 700;
  font-size: 18px;
  right: 15px;
  top: 10px;
}

.accordion li:first-child p{
  display: none;
}

.accordion-active::after{
  content: '\2212';
  position: absolute;
  color: #FF8800;
  right: 15px;
}

.sec-product-mv .txt-blk .accordion p{
  margin-top: 10px;
  padding-left: 19px;
  line-height: 1.3;
}

/* /.sec-related */
.sec-related{
  padding: 87px 0 50px;
  background-color: #EEF3F4;
}

.sec-related .cmn-ttl{
  text-align: center;
  padding-right: 24px;
}

.sec-related ul{
  margin-top: 53px;
}

.sec-related ul li{
  float: left;
  width: 21.2%;
  margin-right: 5%;
}

.sec-related ul li:nth-child(4n){
  margin-right: 0;
}

.sec-related ul li img{
  margin-bottom: 14px;
}

.sec-related ul li:first-child img{
  border: 1px solid #354E57;
}

.sec-related ul li h3{
  font-weight: 700;
  color: #2E2E22;
  font-size: 14px;
}

.sec-related ul li p{
  margin: 6px 0 10px;
  font-size: 12px;
  color: #2E2E22;
}

.sec-related ul li span{
  display: block;
  font-weight: 500;
  color: #2E2E22;
  font-size: 12px;
}

.sec-related ul li span strong{
  text-decoration: line-through;
  margin-left: 4px;
}

.sec-related ul li .cmn-add-to-card{
  width: 100%;
  margin-top: 14px;
}

/* /.sec-what */
.sec-what{
  padding: 54px 0 48px;
  background-color: #F7F7F7;
}

.sec-what .cmn-ttl{
  text-align: center;
  padding-right: 24px;
}

.sec-what .text{
  text-align: center;
  font-size : 16px;
  color: #354E57;
  margin-top: 17px;
  padding-right: 27px;
}

.sec-what ul{
  margin: 60px auto 0;
  width: 1000px;
}

.sec-what ul li{
  float: left;
  text-align: center;
  width: 300px;
  margin-right: 50px;
  cursor: pointer;
}

.sec-what ul li img{
  width: 100%;
}

.sec-what ul li:hover p{
  border-bottom: 2px solid #FF8800;
}

.sec-what ul li:last-child{
  margin-right: 0;
}

.sec-what ul li h3{
  font-weight: 700;
  color: #354E57;
  margin: 33px 0 12px;
  font-size: 14px;
}

.sec-what ul li p{
  font-size: 12px;
  color: #2E2E22;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  width: 150px;
  margin: 0 auto;
  transition: 0.5s;
}

/* /.sec-mask */
.sec-mask .img-blk {
  background: url('../img/product/img_girl_pc.png') no-repeat center/cover;
}

.sec-mask .img-blk .cmn-img-txt-blk {
  margin-left: 50%;
  padding: 228px 30px 206px 80px;
}

/* /.sec-tab-product */
.sec-tab-product{
  padding: 82px 0 48px;
  /*border-bottom: 1px solid #2E2E22;*/
  background-color: #FFFFFF;
}

.sec-tab-product .cmn-ttl{
  text-align: center;
  font-size: 48px;
}

.sec-tab-product .nav-tab{
  margin: 30px auto 41px;
  width: 500px;
}

.sec-tab-product .tab-blk{
  width: 500px;
  margin: 0 auto;
}

.sec-tab-product .nav-tab ul li{
  float: left;
  margin-right: 64px;
  font-size: 14px;
}

.sec-tab-product .nav-tab ul li:last-child{
  margin-right: 0;
}

.sec-tab-product .nav-tab ul .active a{
  color: #FF8800;
}

.sec-tab-product .tab-blk ul li{
   float: left;
   margin-right: 18px;
   margin-bottom: 19px;
}

.sec-tab-product .tab-blk ul li img{
  width: 100%;
}

.sec-tab-product .tab-blk ul li:nth-child(3n){
  margin-right: 0;
}

.sec-tab-product .tab-blk .all-tab:not(:first-child){
  display: none;
}

.sec-tab-product .tab-blk p{
  line-height: 1.3;
  font-size: 12px;
}

.sec-footer .footer-info .footer-nav-blk .footer-nav li {
  padding-bottom: 13px;
}

.sec-footer .footer-info-blk {
  padding: 31px 0px 28px;
}

@media screen and (min-width: 768px) and (max-width: 1180px) {

  .sec-product-mv{
    padding: 4.297vw 8.724vw 0;
  }
  .header-logo .product-ipad{
    margin-top: -1.953vw;
  }
  .sec-product-mv .img-blk{
    float: none;
    width: 100%;
  }
  
  .sec-product-mv .slider .slick-prev,
  .sec-product-mv .slider .slick-next {
    top: 25.521vw;
    z-index: 3;
    width: 4.688vw;
    height: 4.688vw;
  }
  
  .sec-product-mv .slider .slick-prev {
    left: 2.604vw;
  }
  
  .sec-product-mv .slider .slick-next {
    right: 2.604vw;
  }
  
  .sec-product-mv .slick-dots{
      width: 8.464vw;
      margin: 5.599vw auto 0;
  }
  
  .sec-product-mv .slick-dots li{
      width: 1.953vw;
      height: 1.953vw;
      margin-right: 1.302vw;
      border: 0.13vw solid #354E57;
  }
  
  .sec-product-mv .txt-blk{
    float: none;
    width: 100%;
    margin-top: 11.849vw;
  }
  
  .sec-product-mv .txt-blk .txt-box{
    width: 100%;
  }
  
  .sec-product-mv .txt-blk strong{
    padding: 1.302vw;
    font-size: 1.563vw;
  }
  
  .sec-product-mv .txt-blk .cmn-ttl{
    font-size: 6.25vw;
    margin: 1.823vw 0 2.344vw;
    line-height: 1.2;
    text-align: left;
  }
  
  .sec-product-mv .txt-blk img{
    margin-right: 1.302vw;
  }
  
  .sec-product-mv .txt-blk .review{
    font-size: 1.302vw;
    border-bottom: 0.13vw solid #354E57;
  }
  
  .sec-product-mv .txt-blk .price{
    margin: 3.125vw 0;
  }
  
  .sec-product-mv .txt-blk .price span{
    margin-left: 1.693vw;
  }
  
  .sec-product-mv .txt-blk h3{
    font-size: 1.823vw;
  }
  
  .sec-product-mv .txt-blk .para{
    font-size: 1.563vw;
    margin-top: 1.042vw;
    line-height: 1.4;
  }
  
  .sec-product-mv .txt-blk .quantity-blk{
    margin: 3.646vw 0;
  }
  
  .sec-product-mv .txt-blk .quantity-blk .qty{
    float: left;
  }
  
  .sec-product-mv .txt-blk .quantity-blk .qty p{
    margin-bottom: 1.563vw;
    font-size: 1.823vw;
  }
  
  .sec-product-mv .txt-blk .quantity-blk .qty span{
    border: 0.13vw solid #2E2E22;
    padding: 0.911vw 1.823vw;
    font-size: 2.604vw;
    margin-right: -0.651vw;
  }
  
  .sec-product-mv .txt-blk .quantity-blk .cmn-add-to-card{
    float: right;
    width: 35.156vw;
    padding-left: 4.036vw;
  }
  
  .sec-product-mv .txt-blk .quantity-blk .cmn-add-to-card::before {
    top: 1.302vw;
    left: 11.458vw;
    width: 1.693vw;
    height: 1.693vw;
  }
  
  .sec-product-mv .txt-blk .accordion li{
    margin-bottom: 1.042vw;
    font-size: 1.563vw;
  }
  
  .sec-product-mv .txt-blk .accordion li .accordion-title{
    width: 100%;
    padding: 1.823vw 1.953vw 1.563vw 2.604vw;
  }
  
  .sec-product-mv .txt-blk .accordion li .accordion-title::after{
    right: 1.953vw;
    font-size: 2.344vw;
    top: 1.432vw;
  }
  
  .accordion-active::after{
    right: 1.953vw;
  }
  
  .sec-product-mv .txt-blk .accordion p{
    margin-top: 1.432vw;
    padding-left: 2.604vw;
    line-height: 1.3;
  }
  
  /* /.sec-related */
  .sec-related{
    padding: 8.724vw 8.594vw 1.302vw;
  }
  
  .sec-related .cmn-ttl{
    padding-right: 0;
  }
  
  .sec-related ul{
    margin-top: 4.427vw;
  }
  
  .sec-related ul li{
    float: left;
    width: 32.552vw;
    margin-right: 7.682vw;
    margin-bottom: 5.208vw;
  }
  
  .sec-related ul li:nth-child(2n){
    margin-right: 0;
  }
  
  .sec-related ul li img{
    margin-bottom: 1.823vw;
    width: 100%;
  }
  
  .sec-related ul li:first-child img{
    border: 0.13vw solid #354E57;
  }
  
  .sec-related ul li h3{
    font-weight: 700;
    color: #2E2E22;
    font-size: 1.823vw;
  }
  
  .sec-related ul li p{
    margin: 0.781vw 0 1.302vw;
    font-size: 1.563vw;
    color: #2E2E22;
  }
  
  .sec-related ul li span{
    display: block;
    font-weight: 500;
    color: #2E2E22;
    font-size: 1.563vw;
  }
  
  .sec-related ul li span strong{
    text-decoration: line-through;
    margin-left: 0.521vw;
  }
  
  .sec-related ul li .cmn-add-to-card{
    width: 100%;
    margin-top: 1.823vw;
  }
  
  /* /.sec-what */
  .sec-what{
    padding: 7.031vw 0 8.073vw;
    background-color: #F7F7F7;
  }
  
  .sec-what .cmn-ttl{
    text-align: center;
    padding-right: 3.125vw;
  }
  
  .sec-what .text{
    text-align: center;
    font-size : 2.083vw;
    color: #354E57;
    margin-top: 2.214vw;
    padding-right: 3.516vw;
  }
  
  .sec-what ul{
    margin: 5.208vw auto 0;
    width: 100%;
  }
  
  .sec-what ul li{
    float: left;
    text-align: center;
    width: 26.042vw;
    margin-right: 5.729vw;
    cursor: pointer;
  }
  
  .sec-what ul li:hover p{
    border-bottom: 0.26vw solid #FF8800;
  }
  
  .sec-what ul li:last-child{
    margin-right: 0;
  }
  
  .sec-what ul li h3{
    font-weight: 700;
    color: #354E57;
    margin: 2.865vw 0 1.563vw;
    font-size: 1.823vw;
  }
  
  .sec-what ul li p{
    font-size: 1.563vw;
    color: #2E2E22;
    padding-bottom: 0.651vw;
    border-bottom: 0.26vw solid transparent;
    width: 100%;
    margin: 0 auto;
    transition: 0.5s;
  }
  
  /* /.sec-mask */
  .sec-mask .img-blk {
    background: url('../img/product/img_girl_ipad.png') no-repeat center/cover;
  }
  
  .sec-mask .img-blk .cmn-img-txt-blk {
    margin-left: 0;
    padding: 76.953vw 3.906vw 13.021vw 5.208vw;
  }
  
  /* /.sec-tab-product */
  .sec-tab-product{
    padding: 7.161vw 0;
    background-color: #FFFFFF;
  }
  
  .sec-tab-product .cmn-ttl{
    text-align: center;
    font-size: 6.25vw;
  }
  
  .sec-tab-product .nav-tab{
    margin: 3.906vw auto 5.339vw;
    width: 65.104vw;
  }
  
  .sec-tab-product .tab-blk{
    width: 65.104vw;
    margin: 0 auto;
  }

  .sec-tab-product .tab-blk ul{
    width: 100%;
  }
  
  .sec-tab-product .nav-tab ul li{
    float: left;
    margin-right: 8.333vw;
    font-size: 1.823vw;
  }
  
  .sec-tab-product .nav-tab ul li:last-child{
    margin-right: 0;
  }
  
  .sec-tab-product .nav-tab ul .active a{
    color: #FF8800;
  }
  
  .sec-tab-product .tab-blk ul li{
     float: left;
     margin-right: 2.344vw;
     margin-bottom: 2.604vw;
     width: 20.052vw;
  }
  
  .sec-tab-product .tab-blk ul li:nth-child(3n){
    margin-right: 0;
  }
  
  .sec-tab-product .tab-blk .all-tab:not(:first-child){
    display: none;
  }
  
  .sec-tab-product .tab-blk p{
    line-height: 1.3;
    font-size: 1.563vw;
  }

  .footer-copyright{
    padding: 3.776vw 0 6.641vw;
  }
}

@media screen and (max-width:767.9px) {
  .sec-header .menu-other{
    top:4.688vw;
  }
  .header-logo .product-sp{
    margin-top: -2.5vw;
  }
  .sec-product-mv{
    padding: 5vw 3.438vw 0;
    margin-top: -0.781vw;
  }
  
  .sec-product-mv .img-blk{
    float: none;
    width: 100%;
  }
  
  .sec-product-mv .slider .slick-prev,
  .sec-product-mv .slider .slick-next {
    top: 30.625vw;
    z-index: 3;
    width: 5.626vw;
    height: 5.626vw;
  }
  
  .sec-product-mv .slider .slick-prev {
    left: 3.125vw;
  }
  
  .sec-product-mv .slider .slick-next {
    right: 3.125vw;
  }
  
  .sec-product-mv .slick-dots{
      width: 10.157vw;
      margin: 6.406vw auto 0;
  }
  
  .sec-product-mv .slick-dots li{
      width: 2.344vw;
      height: 2.344vw;
      margin-right: 1.562vw;
      border: 0.156vw solid #354E57;
  }
  
  .sec-product-mv .txt-blk{
    float: none;
    width: 100%;
    margin-top: 14.219vw;
  }
  
  .sec-product-mv .txt-blk .txt-box{
    width: 100%;
  }
  
  .sec-product-mv .txt-blk strong{
    padding: 1.562vw;
    font-size: 1.876vw;
  }
  
  .sec-product-mv .txt-blk .cmn-ttl{
    font-size: 7.5vw;
    margin: 2.188vw 0 2.5vw;
    line-height: 1.2;
    text-align: left;
  }
  
  .sec-product-mv .txt-blk img{
    margin-right: 1.562vw;
  }
  
  .sec-product-mv .txt-blk .review{
    font-size: 1.562vw;
    border-bottom: 0.156vw solid #354E57;
  }
  
  .sec-product-mv .txt-blk .price{
    margin: 3.75vw 0;
  }
  
  .sec-product-mv .txt-blk .price span{
    margin-left: 2.032vw;
  }
  
  .sec-product-mv .txt-blk h3{
    font-size: 2.188vw;
  }
  
  .sec-product-mv .txt-blk .para{
    font-size: 1.876vw;
    margin-top: 1.25vw;
    line-height: 1.4;
  }
  
  .sec-product-mv .txt-blk .quantity-blk{
    margin: 4.531vw 0;
  }
  
  .sec-product-mv .txt-blk .quantity-blk .qty{
    float: left;
  }
  
  .sec-product-mv .txt-blk .quantity-blk .qty p{
    margin-bottom: 1.876vw;
    font-size: 2.188vw;
  }
  
  .sec-product-mv .txt-blk .quantity-blk .qty span{
    border: 0.156vw solid #2E2E22;
    padding: 1.093vw 2.188vw;
    font-size: 3.125vw;
    margin-right: -0.781vw;
  }
  
  .sec-product-mv .txt-blk .quantity-blk .cmn-add-to-card{
    float: right;
    width: 42.187vw;
    padding-left: 4.843vw;
  }
  
  .sec-product-mv .txt-blk .quantity-blk .cmn-add-to-card::before {
    top: 1.562vw;
    left: 13.75vw;
    width: 2.032vw;
    height: 2.032vw;
  }
  
  .sec-product-mv .txt-blk .accordion li{
    margin-bottom: 1.25vw;
    font-size: 1.876vw;
  }
  
  .sec-product-mv .txt-blk .accordion li .accordion-title{
    width: 100%;
    padding: 2.188vw 2.344vw 1.876vw 3.125vw;
  }
  
  .sec-product-mv .txt-blk .accordion li .accordion-title::after{
    right: 2.344vw;
    font-size: 2.813vw;
    top: 1.718vw;
  }
  
  .accordion-active::after{
    right: 2.344vw;
  }
  
  .sec-product-mv .txt-blk .accordion p{
    margin-top: 1.406vw;
    padding-left: 3.125vw;
    line-height: 1.3;
  }
  
  /* /.sec-related */
  .sec-related{
    padding: 16.875vw 3.438vw 0;
  }
  
  .sec-related .cmn-ttl{
    padding-right: 0;
  }
  
  .sec-related ul{
    margin-top: 5.312vw;
  }
  
  .sec-related ul li{
    float: left;
    width: 39.062vw;
    margin-right: 9.063vw;
    margin-bottom: 6.25vw;
  }
  
  .sec-related ul li:nth-child(2n){
    margin-right: 0;
  }
  
  .sec-related ul li img{
    margin-bottom: 2.188vw;
    width: 100%;
  }
  
  .sec-related ul li:first-child img{
    border: 0.156vw solid #354E57;
  }
  
  .sec-related ul li h3{
    font-weight: 700;
    color: #2E2E22;
    font-size: 2.188vw;
  }
  
  .sec-related ul li p{
    margin: 0.937vw 0 1.562vw;
    font-size: 1.876vw;
    color: #2E2E22;
  }
  
  .sec-related ul li span{
    display: block;
    font-weight: 500;
    color: #2E2E22;
    font-size: 1.876vw;
  }
  
  .sec-related ul li span strong{
    text-decoration: line-through;
    margin-left: 0.625vw;
  }
  
  .sec-related ul li .cmn-add-to-card{
    width: 100%;
    margin-top: 2.188vw;
  }
  
  /* /.sec-what */
  .sec-what{
    padding: 5.156vw 0 8.594vw;
    background-color: #F7F7F7;
  }
  
  .sec-what .cmn-ttl{
    text-align: center;
    padding-right: 0;
  }
  
  .sec-what .text{
    text-align: center;
    font-size : 2.5vw;
    color: #354E57;
    margin-top: 2.657vw;
    padding-right: 0;
  }
  
  .sec-what ul{
    margin: 6.25vw auto 0;
    width: 100%;
  }
  
  .sec-what ul li{
    float: left;
    text-align: center;
    width: 100%;
    margin-right: 0;
    cursor: pointer;
    margin-bottom: 8.906vw;
  }

  .sec-what ul li img{
    width: 46.875vw;
    margin: 0 auto;
  }
  
  .sec-what ul li:hover p{
    border-bottom: 0.312vw solid #FF8800;
    width: 26.563vw;
  }
  
  .sec-what ul li:last-child{
    margin-right: 0;
    margin-bottom: 0;
  }
  
  .sec-what ul li h3{
    font-weight: 700;
    color: #354E57;
    margin: 5.156vw 0 1.876vw;
    font-size: 2.188vw;
  }
  
  .sec-what ul li p{
    font-size: 1.876vw;
    color: #2E2E22;
    padding-bottom: 0.781vw;
    border-bottom: 0.312vw solid transparent;
    width: 100%;
    margin: 0 auto;
    transition: 0.5s;
  }
  
  /* /.sec-mask */
  .sec-mask .img-blk {
    background: url('../img/product/img_girl_sp.png') no-repeat center/cover;
  }
  
  .sec-mask .img-blk .cmn-img-txt-blk {
    margin-left: 0;
    padding: 92.5vw 4.531vw 15.625vw 9.531vw;
  }
  
  /* /.sec-tab-product */
  .sec-tab-product{
    padding: 7.188vw 0 9.844vw;
    background-color: #FFFFFF;
  }
  
  .sec-tab-product .cmn-ttl{
    text-align: center;
    font-size: 7.5vw;
  }
  
  .sec-tab-product .nav-tab{
    margin: 4.375vw auto 6.407vw;
    width: 78.125vw;
  }
  
  .sec-tab-product .tab-blk{
    width: 78.125vw;
    margin: 0 auto;
  }

  .sec-tab-product .tab-blk ul{
    width: 100%;
  }
  
  .sec-tab-product .nav-tab ul li{
    float: left;
    margin-right: 10vw;
    font-size: 2.188vw;
  }
  
  .sec-tab-product .nav-tab ul li:last-child{
    margin-right: 0;
  }
  
  .sec-tab-product .nav-tab ul .active a{
    color: #FF8800;
  }
  
  .sec-tab-product .tab-blk ul li{
     float: left;
     margin-right: 2.813vw;
     margin-bottom: 3.125vw;
     width: 24.062vw;
  }
  
  .sec-tab-product .tab-blk ul li:nth-child(3n){
    margin-right: 0;
  }
  
  .sec-tab-product .tab-blk .all-tab:not(:first-child){
    display: none;
  }
  
  .sec-tab-product .tab-blk p{
    line-height: 1.3;
    font-size: 1.876vw;
  }

  .footer-copyright{
    padding: 4.531vw 0 7.969vw;
  }
}